.tarjeta{
  background: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 200px;
  margin-top: 100px;
  height: 400px;
  width: 700px;
}
.coder{
  color: white;
  text-align: right;
  margin-right: 150px;
}
.datos{
  color: orange;
  text-align: right;
  margin-right: 150px;
  margin-top: 30px;
}


.laboratoria img{
  width: 200px;
  height: 70px;
}
.logo img{
  width: 100px;
  height: 100px;
  margin-bottom: 0;
  margin-right: 0;
  text-align: right;
}
span{
  display: block;
}
