.tarjeta{
  background-image: url("../img/fondo.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  position: absolute;
  margin-left: 200px;
  margin-top: 100px;
  height: 400px;
  width: 700px;


}
.coder{
  color: teal;
  text-align: right;
}
.datos{
  color: orange;
  text-align: right;
}
.logo{
  position: relative;
  margin-right: 0;
}

.laboratoria img{
  width: 200px;
  height: 70px;
}
.logo img{
  width: 100px;
  height: 100px;
  margin-bottom: 0;
  margin-right: 0;
}
span{
  display: block;
}
